blosc2==2.3.2
bokeh==3.3.2
cycler==0.12.1
fonttools==4.46.0
kiwisolver==1.4.5
matplotlib==3.8.2
numpy==1.26.2
mkl-service==2.4.0
msgpack==1.0.7
ndindex==1.7
pandas==2.1.4
py-cpuinfo==9.0.0
pyparsing==3.1.1
tables==3.9.2
