{% extends "base.html" %}
{% block extra_head %}
{{ bokeh_css }}
{{ bokeh_js }}
<style>
  .top-marg {
     margin-top: 32px;
  }
</style>
{% endblock %}
{% block content %}
<div id="header_site">
  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1>ARTSy <small>Arizona Rainfall Tracking System</small></h1>
      </div>
      <hr>
    </div>
  </div>
</div>
<div class="container" id="content_main">
  <div class="row">
    {{ plot_div | indent(8) }}
  </div>
  <div class="row">
    <p class="top-marg">
      ARTSy is an interactive plot showing the 24hr QPE product from
      <a href="http://www.nssl.noaa.gov/projects/mrms/" >MRMS</a>.
      The plots were initially created by Tony Lorenzo of the
      <a href="https://forecasting.energy.arizona.edu" >UA Renewable Power Forecasting Group</a>
      and the
      <a href="http://has.arizona.edu" >UA Department of Hydrology and Atmospheric Sciences</a>.
      The site was produced using the
      <a href="bokeh.pydata.org" >Bokeh</a>
      visualization library with map tiles provided by
      <a href="stamen.com" >Stamen Design</a>.
      The code is open-source and can be found on
      <a href="https://github.com/uarenforecasting/artsy">GitHub</a>.
    </p>
    <div class="well">
      Note that, currently, all values greater than 2 inches are grouped into
      the last bin/color.
    </div>
  </div>
</div>
{{ plot_script | indent(8) }}
{% endblock %}
