{% extends "base.html" %}
{% block contents %}
<div class="container" id="content_main">
  <div class="row">
    <p>
      ADVI is an interactive plot showing output from the Weather Research
      and Forecasting model run by the University of Arizona
      <a href="https://forecasting.energy.arizona.edu">
        UA Renewable Power Forecasting Group
      </a>
      and the
      <a href="http://has.arizona.edu">
        UA Department of Hydrology and Atmospheric Sciences
      </a>.
      Click on a model variable above to get started.
    </p>

    <p>The site was produced using the
      <a href="https://bokeh.pydata.org" >Bokeh</a>
      visualization library with map tiles provided by
      <a href="https://stamen.com" >Stamen Design</a>.
      The open-source code for this site can be found on
      <a href="https://github.com/uarenforecasting/advi">GitHub</a>.
      Please report any issues or bugs on the
      <a href="https://github.com/uarenforecasting/advi/issues">
        issue tracker
      </a>.
    </p>
  </div>
</div>
{% endblock %}
