{% from macros import embed %}

{% extends "base.html" %}
{% block postamble %}
<style>
  .top-marg {
     margin-top: 32px;
  }
</style>
<script type=text/javascript>
    $(document).keydown(function(event){
        switch(event.key) {
        case "ArrowLeft":
            var ds = Bokeh.documents[0].get_model_by_name('timeslider');
            if (ds.value > ds.start){
                ds.value -= ds.step;
            };
            break;
        case "ArrowRight":
            var ds = Bokeh.documents[0].get_model_by_name('timeslider');
            if (ds.value < ds.end){
                ds.value += ds.step;
            };
            break;
        default:
            return;
        }
    });
</script>
{% endblock %}

{% block contents %}
<div class="container" id="content_main">
  <div class="row">
    <div class="well">
      Use the left and right arrows to change the forecast hour. Clicking on a
      the map will display the current value of the selected location in the
      selected value text box. The histogram and mean value are based only on
      the data currently displayed on the map.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-xs-10">
      {{ embed(roots.map_fig) | indent(10) }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-10">
      {{ embed(roots.tseries) | indent(10)}}
    </div>
    <div class="col-sm-6 col-xs-10">
      {{ embed(roots.hist_fig) | indent(10) }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{ embed(roots.info_div) | indent(10)}}
    </div>
  </div>
</div>
{% if custom_model_code %}
<script type="text/javascript">
  {{ custom_model_code | indent(8) }}
</script>
{% endif %}
{{ plot_script | indent(8) }}
{% endblock %}
